{%- macro Infobox (Name,Date_of_birth,Place_of_birth,Height,Weight,Position,Team,Number,Wins,Losses,Ties,Goals,Shooting_Percentage) -%}
	{{'{{Infobox Sports_person'}}
	|పేరు = {{Name}}
	|జననం = {{Date_of_birth}}
  {%- if Place_of_birth!="NONE"-%}
	|పుట్టిన ప్రదేశం = {{Place_of_birth}}
	{%- endif -%}
	|ఎత్తు ={{Height}}
	|బరువు = {{Weight}}
	|స్థానం = {{Position}}
	|టీమ్ = {{Team}}
	{%- if Number!="NONE"-%}
	|జెర్సీ నంబరు = {{Number}}
	{%- endif -%} 
	{%- if Wins!="NONE"-%}
	|గెలిచినా ఆటలు = {{Wins}}
	{%- endif -%}
	{%- if Losses!="NONE"-%}
	|ఓడిన ఆటలు = {{Losses}}
	{%- endif -%}
	{%- if Ties!="NONE"-%}
	|టై అయినా ఆటలు = {{Ties}}
	{%- endif -%}
	{%- if Goals!="NONE"-%}
	|గోల్స్ = {{Goals}}
	{%- endif -%}
	{%- if Shooting_Percentage!="NONE"-%}
	|గోల్ అయ్యే రేటు = {{Shooting_Percentage}}
	{%- endif -%}
	{{'}}\n'}}
{% endmacro -%}

{%- macro Introduction(Name,Date_of_birth,Weight,Body_mass_index,Place_of_birth)-%}
{{ '\n==పరిచయం==\n' }}
{{Name}} {{Date_of_birth}}న  జన్మించాడు. {{" "}}
ఇతను {{Place_of_birth}}కి చెందిన హాకీ ప్లేయర్. {{" "}}
ఇతని ఎత్తు {{Height}} సెంటీమీటర్లు, బరువు {{Weight}} కిలోలు, శరీర ద్రవ్యరాశి సూచిక {{Body_mass_index}}. {{" "}}
ఇతను పుట్టిన ప్రదేశము {{Place_of_birth}}.{{" "}}
{%-endmacro-%}

{%- macro career(Name,Position,Team,Games_Played,Goals,Assists,Points,PlusMinus_Ratings,Number)-%}
{{ '\n==కెరీర్==\n' }}
{{Name}} మంచు హాకీ లో  ఆడే స్థానం {{Position}}, ఆడే టీమ్ కోడ్  {{Team}}. {{" "}}
అతడు  మొత్తం {{Games_Played}} ఆడాడు. {{" "}}
{%- if Goals != "NONE" -%}
ఇతను {{Goals}} గోల్స్, {{Assists}} అస్సిట్స్లు, {{Points}} పాయింట్లు సాధించాడు; దాని ఫలితంగా రేటింగ్ లో జరిగిన మార్పు {{PlusMinus_Ratings}}. 
{%- endif -%}
{%- if storyline != "NONE" -%}
అతని జెర్సీ సంఖ్య {{Number}}.{{" "}}
{%- endif -%}
{%-endmacro-%}

{%- macro career_statistics(Name,Games_Started,Wins,Losses,Ties,Goals_Against,Saves,Save_Percentage,Shutouts,Overtime_Losses,Penalty_Minutes)-%}
{{ '\n==కెరీర్ గణాంకాలు ==\n' }}
{%- if Games_Started != "NONE" -%}
{{Name}} మొదలు పెట్టిన ఆటలు {{Games_Started}}.{{" "}}
{%- endif -%}
{%- if Wins != "NONE" -%}
అందులో గెలిచినా ఆటలు {{Wins}}, ఓడిన ఆటలు {{Losses}}, {{" "}}
{%- endif -%}
{%- if Ties != "NONE" -%}
టై అయినా ఆటలు {{Ties}}. {{" "}}
{%- endif -%}
{%- if Goals_Aganist != "NONE" -%}
ఈ ప్లేయర్ పై {{Goals_Against}} సార్లు గోల్ చేయడానికి ప్రయత్నించారు, అందులో ఇతను {{Saves}} సార్లు గోల్ అవ్వకుండా కాపాడాడు. ఇతని సేవ్ శాతం {{Save_Percentage}}. ఇతను {{Shutouts}} షూటౌట్ లలో పాల్గొన్నాడు.{{" "}}
{%- endif -%}
{%- if Overtime_Losses != "NONE" -%}
 ఈ ప్లేయర్ ఓవర్టైం  లాసులు {{Overtime_Losses}}.  {{" "}}
{%- endif -%}
{%- if Penalty_Minutes != "NONE" -%}
ఇతను {{Penalty_Minutes}} పెనాలిటీ నిమిషాల్లో లో పాలుగోన్నాడు.  {{" "}}
{%- endif -%}
{%-endmacro-%}

{%- macro statistics(Name,Shots_on_Goal,Goals,Shooting_Percentage,Shots_Against,Short_Goals,Short_Assists,Game_Winning_Goals,Game_Tying_goals)-%}
{{ '\n==Statistics==\n' }}
{%- if Shots_on_Goal != "NONE" -%}
{{Name}} గోల్ కొట్టడానికి {{Shots_on_Goal}}సార్లు ప్రయత్నించాడు. అందులో ఇతను {{Goals}} గోల్స్ చేసాడు.దాని ఫలితంగా ఇతని గోల్ షూటింగ్ శాతం {{Shooting_Percentage}}. {{" "}}
{%- endif -%}
{%- if storyline != "NONE" -%}
{{storyline}}{{" "}}
{%- endif -%}
{%- if Shots_Against != "NONE" -%}
ఇతనికి వెతిరేకంగా {{Shots_Against}} సార్లు షాట్  కొట్టడానికి ప్రయత్నించారు. {{" "}}
{%- endif -%}
{%- if Short_Goals != "NONE" -%}
ఇతను  సాధించిన షార్ట్ గోల్స్ {{Short_Goals}}, షార్ట్ అస్సిట్లు {{Short_Assists}}. {{Name}}, {{Game_Winning_Goals}} ఆట గెలిచే గోల్స్ సాధించాడు,{{" "}}
{%- endif -%}
{%- if Game_Tying_goals != "NONE" -%}
అలాగే {{Game_Tying_goals}} సార్లు ఇతడు  గోల్ చేసి ఆటను  టై  చేసాడు. {{" "}}
{%- endif -%}
{%-endmacro-%}

{%- macro powerplay_statistics(Name,PowerPlay_Assists,PowerPlay_Goals,Time_on_Ice_per_Game)-%}
{{ '\n==పవర్ ప్లే గణాంకాలు==\n' }}
{%- if PowerPlay_goals != "NONE" -%}
{{Name}} పవర్ ప్లే లో {{PowerPlay_goals}} గోల్స్, {{PowerPlay_Assists}} అసిస్ట్లు సాధించాడు. {{" "}}
{%- endif -%}
{%- if Time_on_Ice_per_Game != "NONE" -%}
ఇతను ప్రతి గేముకి గరిష్టంగా {{Time_on_Ice_per_Game}} ఆడాడు{{" "}}
{%- endif -%}
{%-endmacro-%}

{%- macro references(Name) -%}
{{ '\n==మూలాలు==\n' }}
1.https://www.kaggle.com/alexbenzik/nhl-players-statistics .
{%-endmacro-%}

{{- Infobox(Name,Date_of_birth,Place_of_birth,Height,Weight,Position,Team,Number,Wins,Losses,Ties,Goals,Shooting_Percentage) -}}
{{- Introduction(Name,Date_of_birth,Weight,Body_mass_index,Place_of_birth)-}}
{{- career(Name,Position,Team,Games_Played,Goals,Assists,Points,PlusMinus_Ratings,Number)-}}
{{- career_statistics(Name,Games_Started,Wins,Losses,Ties,Goals_Aganist,Saves,Save_Percentage,Shutouts,Overtime_Losses,Penalty_Minutes)-}}
{{- statistics(Name,Shots_on_Goal,Goals,Shooting_Percentage,Shots_Against,Short_Goals,Short_Assists,Game_Winning_Goals,Game_Tying_goals)-}}
{{- powerplay_statistics(Name,PowerPlay_Assists,PowerPlay_Goals,Time_on_Ice_per_Game)-}}
{{- references(Name) -}}


